//
// For guidance on how to add CSS and SCSS see:
// https://prototype-kit.service.gov.uk/docs/adding-css-javascript-and-images
//

// Add extra styles here
@import "../../views/_components/related-navigation/related-navigation.scss";
@import "../../views/_components/summary-card/summary-card.scss";
@import "../../views/_components/task-list/task-list.scss";

.app-review-panel {
  @include govuk-responsive-margin(9, "bottom");
  // background: red;
  h2 {
    margin-bottom: govuk-spacing(6);
  }

  .govuk-summary-list {
    margin-bottom: govuk-spacing(6) !important;
  }

  h3 {
    margin-bottom: govuk-spacing(1);
  }
}