//
// For guidance on how to add CSS and SCSS see:
// https://prototype-kit.service.gov.uk/docs/adding-css-javascript-and-images
//

// Add extra styles here
@import "../../views/_components/related-navigation/related-navigation.scss";
@import "../../views/_components/summary-card/summary-card.scss";
@import "../../views/_components/task-list/task-list.scss";
@import "../../views/_components/list/list.scss";
@import "../../views/_components/uploaded-file/uploaded-file.scss";
@import 'node_modules/dfe-frontend-alpha/packages/dfefrontend';

@import "components/cards";

.app-review-panel {
  @include govuk-responsive-margin(9, "bottom");
  // background: red;
  h2 {
    margin-bottom: govuk-spacing(6);
  }

  .govuk-summary-list {
    margin-bottom: govuk-spacing(6) !important;
  }

  h3 {
    margin-bottom: govuk-spacing(1);
  }
}

.app-uploaded-file-v1 {
  overflow: hidden;
  .app-uploaded-file__file {
    float: left;
    background: govuk-colour('light-grey');
    padding: govuk-spacing(2) govuk-spacing(3);
    margin: 0;
  }

  .app-uploaded-file__delete {
    padding: govuk-spacing(2) govuk-spacing(3);
    float: left;
    margin: 0;
  }
}


.app-inset-text--incomplete-section {
  border-left: 5px solid govuk-colour('blue');
  padding-right: 0;

  .app-instruction-text {
    color: govuk-colour('blue');
    font-weight: bold;
  }

  .govuk-summary-list {
    margin-bottom: govuk-spacing(3);
  }
}

.app-inset-text--incomplete-section-error {
  border-left: 5px solid govuk-colour('red');

  .app-instruction-text {
    color: govuk-colour('red');
    font-weight: bold;
  }
}

// interruption page

.govuk-panel--informational {
  background-color: $govuk-brand-colour;
  color: govuk-colour("white");
  margin-bottom: govuk-spacing(7);
}

.govuk-panel--small {
  text-align: left;
  padding: govuk-spacing(3) - $govuk-border-width;
  margin-bottom: govuk-spacing(5);

  .govuk-panel__title {
    @include govuk-font($size: 19, $weight: bold);
    margin-bottom: 0;
  }

  .govuk-panel__body {
    @include govuk-font($size: 19);
    margin: 0;
  }
}

.govuk-panel--interruption {
  background-color: $govuk-brand-colour;
  text-align: left;

  * {
    color: govuk-colour("white");
  }

  .govuk-radios__label::before,
  & ::after {
    color: govuk-colour("black");
    border-color: govuk-colour("black");
    background-color: govuk-colour("white");
  }

  .govuk-list--definition {
    dt,
    dd {
      color: govuk-colour("blue");
    }
  }

  .govuk-button,
  .govuk-button:disabled:hover {
    color: govuk-colour("black");
    background-color: govuk-colour("white");
    box-shadow: 0 2px 0 govuk-colour("dark-blue");
  }

  .govuk-button:hover {
    background-color: govuk-colour("light-grey");
  }
}
