//
// For guidance on how to add CSS and SCSS see:
// https://prototype-kit.service.gov.uk/docs/adding-css-javascript-and-images
//

// Add extra styles here
@import "../../views/_components/related-navigation/related-navigation.scss";
@import "../../views/_components/summary-card/summary-card.scss";
@import "../../views/_components/task-list/task-list.scss";
@import "../../views/_components/list/list.scss";

.app-review-panel {
  @include govuk-responsive-margin(9, "bottom");
  // background: red;
  h2 {
    margin-bottom: govuk-spacing(6);
  }

  .govuk-summary-list {
    margin-bottom: govuk-spacing(6) !important;
  }

  h3 {
    margin-bottom: govuk-spacing(1);
  }
}

.app-uploaded-file {
  overflow: hidden;
  .app-uploaded-file__file {
    float: left;
    background: govuk-colour('light-grey');
    padding: govuk-spacing(2) govuk-spacing(3);
    margin: 0;
  }

  .app-uploaded-file__delete {
    padding: govuk-spacing(2) govuk-spacing(3);
    float: left;
    margin: 0;
  }
}

.app-uploaded-file-v2 {
  background: govuk-colour('light-grey');
  padding: govuk-spacing(2) govuk-spacing(3);
  margin-bottom: govuk-spacing(6);

  .govuk-form-group {
    margin-bottom: 0;
  }
}