{% extends "layouts/main.html" %}
{% set signedIn = false %}
{% set title = 'You need to request another confirmation code' %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back();"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">{{ title }}</h1>
      <p>This is because you entered an incorrect code 5 times.</p>
      <p><a href="email">Request another confirmation code</a>.</p>
    </div>
  </div>
{% endblock %}
