{% extends "layouts/main.html" %}
{% set title = "You should wait for an outcome before making a referral" %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back();"
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <h1 class="govuk-heading-l">{{title}}</h1>

        <p>Check the school's complaint policy for the processing time. It's usually available on the school's website or from the school office.</p>
        <p>Contact the school if an outcome is overdue.</p>
        <h2 class="govuk-heading-m">Refer a teacher before you've received an outcome</h1>
        <p>You can still report serious misconduct if you've not received an outcome to your complaint. Depending on the case, the TRA may wait until you've received an outcome and been through all available appeal options before proceeding with your referral.</p>

        <p><a href="/v3/eligibility/you-should-know-public">Continue making a referral</a></p>

    </div>
  </div>

{% endblock %}
