{% extends "layouts/main.html" %}
{% set title = "Have you complained to the school about the teacher?" %}

{% block beforeContent %}
{{ govukBackLink({
text: "Back",
href: "../who"
}) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <form method="post">

      {{ govukRadios({
      idPrefix: "[report][eligibility][have-you-complained]",
      name: "[report][eligibility][have-you-complained]",
      fieldset: {
      legend: {
      html: title,
      classes: "govuk-fieldset__legend--l"
      }
      },
      items: [
      {
      text: "Yes, and I received an outcome",
      value: "Yes, and I received an outcome"
      },
      {
      text: "Yes, and I'm waiting for an outcome",
      value: "Yes, and I'm waiting for an outcome"
      },
      {
      text: "No",
      value: "No"
      }
      ]
      }) }}

      {{ govukButton({
      text: "Continue"
      }) }}
    </form>
  </div>
</div>

{% endblock %}
