{% extends "layouts/main.html" %}
{% set title = "You should complain to the school, school governors or your local council first" %}
{# {% set title = "Complain to the school or the Department for Education" %} #}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back();"
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <h1 class="govuk-heading-l">{{title}}</h1>

     <p>See <a href="https://www.gov.uk/complain-about-school">guidance on how to make a complaint</a>.</p>

     <h2 class="govuk-heading-m">Refer a teacher without complaining to the school</h1>
    
      <p>You can still report serious misconduct without complaining to the school first. Depending on the case, the TRA might not investigate unless you've made a complaint first.</p>

      <p><a href="/v3/eligibility/you-should-know-public">Continue making a referral</a></p>

    </div>
  </div>

{% endblock %}
