{% extends "layouts/main.html" %}
{% set title = "What will happen after you refer the teacher for serious misconduct" %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "serious"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <form method="post">
  <h1 class="govuk-heading-l">{{ title | noOrphans | safe }}</h1>

  <p>Your name and allegation will only be shared with the teacher and their employer if your case is investigated.</p>

  <p>You might need to give evidence at a hearing.</p>

  <p>Your referral will be kept on file for up to 50 years.</p>

  <p class="govuk-!-margin-bottom-6"></p>
        {{ govukButton({
          text: "I understand and want to continue"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}
