<h2 class="govuk-heading-m">Commonly uploaded documents</h2>

<ul class="govuk-list govuk-list--bullet">
  {% if isEmployer %}
    <li>CV</li>
    <li>References</li>
    <li>Job application</li>
    <li>Job offer</li>
    <li>Job description, role requirement or person specification</li>
    <li>File notes concerning conduct, behaviour, attitude</li>
    <li>Statements made by the person you’re referring</li>
    <li>Documents of internal investigations and outcomes</li>
    <li>Documentation of any past disciplinary action and complaints</li>
    <li>Police investigation and reports</li>
    <li>Local authority investigation reports or documents</li>
    <li>Reports from other bodies or agencies</li>
    <li>Signed witness statements</li>
    <li>Dismissal, resignation or redeployment letters</li>
    <li>Interview reports relating to the allegation</li>
    <li>Minutes of strategy meetings</li>
  {% else %}
    <li>Complaint made to the school</li>
    <li>Correspondence to or from school</li>
    <li>School complaint policy</li>
    <li>Complaint made to the police</li>
    <li>Complaint made to the local authority or any other agency or body</li>
    <li>Signed witness statements</li>
  {% endif %}
</ul>

{% if isEmployer %}
  <h2 class="govuk-heading-m">Preparing your documents</h2>

  <p>Signed and dated documents are better than unsigned ones. If they were not signed at the time of being written,
  ask the parties involved to sign and date a statement confirming their accuracy.</p>

  <p>Do not redact any of the documents. This will make it difficult to consider the evidence. All
  information given is treated in strict confidence.</p>
{% endif %}
