{% if data.report.email %}
  {% set serviceUrl = '/report' %}
{% else %}
  {% set serviceUrl = '/' %}
{% endif %}


{{ govukHeader({
    homepageUrl: "#",
    serviceName: serviceName,
    serviceUrl: serviceUrl,
    navigation: [
      {
        href: "/account/sign-out",
        text: "Sign out"
      }
    ] if data.report.email
  }) }}