{% if data.report.email %}
  {% set serviceUrl = '/' %}
{% else %}
  {% set serviceUrl = '/' %}
{% endif %}


{{ govukHeader({
    homepageUrl: "#",
    serviceName: serviceName,
    serviceUrl: serviceUrl
  }) }}