.app-calendar-month {
  .govuk-table {
    border: 1px solid $govuk-border-colour;
  }

  .govuk-table__header {
    border: 1px solid $govuk-border-colour;
    border-bottom-width: 3px;
    padding: govuk-spacing(1);
    padding-left: govuk-spacing(2);
    background: govuk-colour('light-grey');
    height: 4em;
  }

  .govuk-table__cell {
    @include govuk-font($size: false, $tabular: true);
    padding: govuk-spacing(1);
    border: 1px solid $govuk-border-colour;
    width: 12.5%;
    height: 4em;
    position: relative;
  }

  .app-calendar-control-cell {
    padding-left: govuk-spacing(2);
  }

  .app-calendar-control-cell,
  .app-calendar-no-date-cell,
  .app-calendar-offset-cell {
    background: govuk-colour("light-grey");
  }

  .app-calendar-unavailable-cell {
    color: govuk-shade(govuk-colour("orange"), 55);
    background: govuk-tint(govuk-colour("orange"), 70) !important;
  }

  // Hacky way to make whole calendar box clickable
  // This does not scale well with browser resize

  .govuk-checkboxes__label {
    width: 1em;
  }

  .govuk-table__cell[data-day]:hover {
    box-shadow: inset 0 0 0 5px $govuk-border-colour;
  }

  .govuk-checkboxes--small .govuk-checkboxes__item:hover .govuk-checkboxes__input:not(:disabled) + .govuk-checkboxes__label:before{
    box-shadow: none;
  }

  .app-calendar-label-text {
    position: relative;
    top: -3px;
  }

  .app-calendar-label-box {
    position: absolute;
    left: -10px;
    right: -43px;
    top: -2px;
    bottom: -33px;
  }
}

.app-calendar-month-link {
  text-decoration: none;

  &:hover .govuk-table {
    box-shadow: 0 0 0 5px $govuk-border-colour;
  }

  &:active .govuk-table,
  &:focus .govuk-table {
    box-shadow: 0 0 0 10px $govuk-focus-colour, 0 6px 0 10px govuk-colour('black');
  }
}

.app-calendar-month--small {
  .govuk-table {
    border: 1px solid $govuk-border-colour;
  }

  .govuk-table__header,
  .govuk-table__cell {
    text-align: center;
    @include govuk-font($size: 16, $tabular: true);
    width: 20px;
    height: auto;
    border: none;
    width: 14.2%;
  }

  .govuk-table__header {
    background: govuk-colour("light-grey");
  }

  .app-calendar-weekend-cell {
    background: govuk-colour("light-grey");
  }
}
