{% extends "layouts/main.html" %}
{% set serviceName %}Manage your panel hearings and availability{% endset %}

{% block pageTitle %}
{{serviceName}} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

{% endblock %}

{% block content %}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">You have confirmed you cannot attend the hearing for James Smith</h1>
        <p class="govuk-body">
          <a href="homepage" class="govuk-link">Back to home page</a>
        </p>
      </div>
    </div>

{% endblock %}