{% extends "layouts/main.html" %}
{% set serviceName %}Manage your panel hearings and availability{% endset %}

{% block pageTitle %}
{{serviceName}} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
text: "Back",
href: "javascript:history.back();"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      Previous hearings you have attended
    </h1>
  </div>

  <div class="govuk-grid-column-full govuk-!-margin-top-6">
    <table class="govuk-table">
      <caption class="govuk-table__caption govuk-table__caption--m">Previous hearings</caption>
      <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header app-custom-class">Name of teacher</th>
        <th scope="col" class="govuk-table__header app-custom-class">Date</th>
        <th scope="col" class="govuk-table__header app-custom-class">Attendance type</th>
        <th scope="col" class="govuk-table__header app-custom-class">Role</th>
      </tr>
      </thead>
      <tbody class="govuk-table__body">
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">Steven James</th>
        <td class="govuk-table__cell">24th June to 25th June</td>
        <td class="govuk-table__cell">In person</td>
        <td class="govuk-table__cell">Panellist</td>
      </tr>
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">Derek Jones</th>
        <td class="govuk-table__cell">22nd August to 24th August</td>
        <td class="govuk-table__cell">In person</td>
        <td class="govuk-table__cell">Panellist</td>
      </tr>
      </tbody>
    </table>
    <p><a href="homepage">Back to home page</a></p>
  </div>


</div>

{% endblock %}