{% extends "layouts/main.html" %}
{% set serviceName %}Manage your panel hearings and availability{% endset %}

{% block pageTitle %}
{{serviceName}} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
text: "Back",
href: "javascript:history.back();"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      Hearings you will be attending
    </h1>
  </div>

  <div class="govuk-grid-column-full">

    <div class="govuk-summary-card">
      <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">Steven James</h2>
        <ul class="govuk-summary-card__actions">
          <li class="govuk-summary-card__action"> <a class="govuk-link" href="#">Download bundle</a>
          </li>
          <li class="govuk-summary-card__action"> <a class="govuk-link" href="#">Withdraw</a>
          </li>
        </ul>
      </div>
      <div class="govuk-summary-card__content">
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Date
            </dt>
            <dd class="govuk-summary-list__value">
              24th June to 25th June
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Attendance type
            </dt>
            <dd class="govuk-summary-list__value">
              In person
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Role
            </dt>
            <dd class="govuk-summary-list__value">
              Panellist
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Other panellists
            </dt>
            <dd class="govuk-summary-list__value">
              Person 1<br>Person 2
            </dd>
          </div>
        </dl>
      </div>
    </div>
    <div class="govuk-summary-card">
      <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">Steven James</h2>
        <ul class="govuk-summary-card__actions">
          <li class="govuk-summary-card__action"> <a class="govuk-link" href="#">Download bundle</a>
          </li>
          <li class="govuk-summary-card__action"> <a class="govuk-link" href="#">Withdraw</a>
          </li>
        </ul>
      </div>
      <div class="govuk-summary-card__content">
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Date
            </dt>
            <dd class="govuk-summary-list__value">
              22nd August to 24th August
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Attendance type
            </dt>
            <dd class="govuk-summary-list__value">
              In person
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Role
            </dt>
            <dd class="govuk-summary-list__value">
              Panellist
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Other panellists
            </dt>
            <dd class="govuk-summary-list__value">
              Person 1<br>Person 2
            </dd>
          </div>
        </dl>
      </div>
    </div>

<!--    <table class="govuk-table">-->
<!--      <caption class="govuk-table__caption govuk-table__caption&#45;&#45;m">Upcoming hearings</caption>-->
<!--      <thead class="govuk-table__head">-->
<!--      <tr class="govuk-table__row">-->
<!--        <th scope="col" class="govuk-table__header app-custom-class">Name of teacher</th>-->
<!--        <th scope="col" class="govuk-table__header app-custom-class">Date</th>-->
<!--        <th scope="col" class="govuk-table__header app-custom-class">Attendance type</th>-->
<!--        <th scope="col" class="govuk-table__header app-custom-class">Role</th>-->
<!--        <th scope="col" class="govuk-table__header app-custom-class"><span class="govuk-visually-hidden">Download bundle</span></th>-->
<!--      </tr>-->
<!--      </thead>-->
<!--      <tbody class="govuk-table__body">-->
<!--      <tr class="govuk-table__row">-->
<!--        <th scope="row" class="govuk-table__header">Steven James</th>-->
<!--        <td class="govuk-table__cell">24th June to 25th June</td>-->
<!--        <td class="govuk-table__cell">In person</td>-->
<!--        <td class="govuk-table__cell">Panellist</td>-->
<!--        <td class="govuk-table__cell"><a href="#">Download bundle</a></td>-->
<!--      </tr>-->
<!--      <tr class="govuk-table__row">-->
<!--        <th scope="row" class="govuk-table__header">Derek Jones</th>-->
<!--        <td class="govuk-table__cell">22nd August to 24th August</td>-->
<!--        <td class="govuk-table__cell">In person</td>-->
<!--        <td class="govuk-table__cell">Panellist</td>-->
<!--        <td class="govuk-table__cell"><a href="#">Download bundle</a></td>-->
<!--      </tr>-->
<!--      </tbody>-->
<!--    </table>-->
  <p><a href="homepage">Back to home page</a></p>
  </div>


</div>

{% endblock %}