{% extends "layouts/main.html" %}
{% set serviceName %}Manage your panel hearings and availability{% endset %}

{% block pageTitle %}
{{serviceName}} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
text: "Back",
href: "javascript:history.back();"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-width-container">
            <h1 class="govuk-heading-l">
              Repeat unavailability
            </h1>
            <form method="post" novalidate>
              <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                  <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                    <h1 class="govuk-fieldset__heading">
                      How often do you want this to repeat?
                    </h1>
                  </legend>
                  <div class="govuk-radios" data-module="govuk-radios">
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="howOften" name="howOften" type="radio" value="daily">
                      <label class="govuk-label govuk-radios__label" for="howOften">
                        Daily
                      </label>
                    </div>
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="howOften-2" name="howOften" type="radio" value="weekly">
                      <label class="govuk-label govuk-radios__label" for="howOften-2">
                        Weekly on {{data ['dayOfWeek']}}s
                      </label>
                    </div>
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="howOften-3" name="howOften" type="radio" value="fortnightly">
                      <label class="govuk-label govuk-radios__label" for="howOften-3">
                        Fortnightly on {{data ['dayOfWeek']}}s
                      </label>
                    </div>
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="howOften-4" name="howOften" type="radio" value="monthly">
                      <label class="govuk-label govuk-radios__label" for="howOften-4">
                        Monthly on the {{data['dateSuffix']}}
                      </label>
                    </div>
                  </div>
                </fieldset>
              </div>
              <div class="govuk-form-group">
                <h1 class="govuk-label-wrapper">
                  <label class="govuk-label govuk-label--m" for="repeat-unavailability">
                    How many times will this repeat?
                  </label>
                </h1>
                <input class="govuk-input govuk-input--width-4" id="repeat-unavailability" name="repeatUnavailability" type="text">
              </div>
              <button type="submit" class="govuk-button" data-module="govuk-button">
                Continue
              </button>
            </form>
    </div>
  </div>

</div>

{% endblock %}