{% extends "layouts/main.html" %}
{% set title = "Did you make the complaint to the school within the last 30 days?" %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "/who"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <form method="post">
        {{ govukRadios({
          idPrefix: "[report][eligibility][30days]",
          name: "[report][eligibility][30days]",
          fieldset: {
            legend: {
              classes: "govuk-fieldset__legend--l",
              isPageHeading: true,
              text: title
            }
          },
          items: [
            {
              text: "Yes",
              value: "Yes"
            },
            {
              text: "No",
              value: 'No'
            }
          ]
        }) }}
        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}
