{% extends "layouts/main.html" %}
{% set title = "Follow the school’s complaints process" %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back();"
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <h1 class="govuk-heading-l">{{title}}</h1>

      <p>Most allegations that do not involve serious misconduct are dealt with directly through the school’s complaints process.</p>

      <p>Make a complaint to the school. <a href="https://www.gov.uk/complain-about-school">Read more information about different ways to complain</a>.</p>

      <p>If you’re not satisfied with how the school has handled your complaint, contact the board of governors or your <a href="https://www.gov.uk/find-local-council">local council</a>.</p>


    </div>
  </div>

{% endblock %}
