{% extends "layouts/main.html" %}
{% set title = "How to make a complaint" %}
{# {% set title = "Complain to the school or the Department for Education" %} #}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back();"
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <h1 class="govuk-heading-l">{{title}}</h1>

      <p>Follow these steps to make a complaint:</p>

      <h2 class="govuk-heading-m">
        1. Complain to the school
      </h2>

      <p>Every school in England must have a complaints policy.</p>

      <p>It’s usually available on the school’s website or from the school office. It should tell you the kind of complaints the school deals with.</p>

      <p><a href="https://www.gov.uk/complain-about-school">Find out how to complain to the school</a>.</p>

      <h2 class="govuk-heading-m">2. If you’re not satisfied with how the school deals with your complaint</h2>
      {# <h2 class="govuk-heading-m">Complain to DfE</h2> #}

      <p>You can make a complaint to the Department for Education (DfE) if either of the following apply:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>
          you have completed the school’s complaints process
        </li>
        <li>
          you have been stopped from completing the school’s complaints process
        </li>
      </ul>

      {# <p><a href="https://www.gov.uk/complain-to-dfe">Complain to DfE</a></p> #}

      {{ govukButton({
        text: "Continue to complain to DfE",
        href: "https://www.gov.uk/complain-to-dfe"
      }) }}


    </div>
  </div>

{% endblock %}
