{% extends "layouts/main.html" %}
{% set title = "Make a complaint to the school, school governors or your local council first" %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back();"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <h1 class="govuk-heading-l">{{ title }}</h1>

      <p>View guidance about <a href="https://www.gov.uk/report-teacher-misconduct">how to make an informal complaint</a>.</p>

      <p>You’ll need to provide proof to support your complaint.</p>

      <p>You can still refer serious misconduct without making an informal complaint. Depending on the allegation, it may not be investigated unless you have tried to deal with the matter informally.</p>

      {{ govukButton({
        text: "Continue without making an informal complaint",
        href: "/eligibility/jurisdiction"
      }) }}

      </p>
    </div>
  </div>
{% endblock %}
