{% extends "layouts/main.html" %}
{% set title = "You should complain to the school, school governors or your local council first" %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">{{ title }}</h1>

    <p>Visit GOV.UK for <a href="https://www.gov.uk/report-teacher-misconduct">guidance on how to make an informal complaint</a>.</p>

    <p>You’ll need to provide proof to support your complaint.</p>

    <h2 class="govuk-heading-m">Making a referral without an informal complaint</h2>

    <p>You can still refer serious misconduct without making an informal complaint. Depending on the case, TRA might not investigate unless you have tried to deal with the matter informally.</p>

    <p>
      <a href="#" class="govuk-button govuk-button--secondary">Continue without an informal complaint</a>
    </p>
  </div>
</div>
{% endblock %}
