{% extends "layouts/main.html" %}
{% set title = "Your allegation is unlikely to be investigated because you have not made a complaint" %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back();"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <h1 class="govuk-heading-l">{{ title }}</h1>

      <p>To make a complaint, contact the school.</p>

      <p>
        If you’re not satisfied that your complaint to the school has been resolved, contact the board of governors or <a href="https://www.gov.uk/find-local-council">contact the council</a>.
      </p>

      <p>You can <a href="/eligibility/jurisdiction">continue to refer serious misconduct without making a complaint</a>.</p>

      </p>
    </div>
  </div>
{% endblock %}
