{% extends "layouts/main.html" %}
{% set title = "You cannot refer a teacher who was not employed in England at the time of the allegation" %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "/eligibility/england"
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <h1 class="govuk-heading-l">{{ title }}</h1>

    <p>You can refer misconduct in Wales, Scotland or Northern&nbsp;Ireland by contacting:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>the <a rel="external" href="https://www.ewc.wales/">Education Workforce Council for Wales</a></li>
      <li>the <a rel="external" href="https://www.gtcs.org.uk/fitness-to-teach/making-a-referral-or-recommendation/">General Teaching Council for Scotland</a></li>
      <li>the <a rel="external" href="https://gtcni.org.uk/regulation/making-a-referral">General Teaching Council for Northern Ireland</a></li>
    </ul>
  </div>
</div>
{% endblock %}
