{% extends "layouts/main.html" %}
{% set title = "Your allegation is unlikely to be investigated because you do not think it involves serious misconduct" %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "/eligibility/serious"
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <h1 class="govuk-heading-l">{{ title }}</h1>

    <p>
      If you’re not satisfied that your complaint to the school has been resolved, contact the board of governors or <a href="https://www.gov.uk/find-local-council">contact the council</a>.
    </p>

    <p>You can <a href="/eligibility/you-should-know">continue to refer serious misconduct even though it’s unlikely to be investigated</a>.</p>

  </div>
</div>
{% endblock %}
