{% extends "layouts/main.html" %}
{% set title = "You need to report this misconduct somewhere else" %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <h1 class="govuk-heading-l">{{ title }}</h1>

    <p>The Teaching Regulation Agency (TRA) will not deal with cases relating to minor misconduct, or a teacher’s performance or competence.</p>

    <p>You need to:</p>

    <ol class="govuk-list govuk-list--number">
      <li>talk to the school or sixth-form college first to try to solve the problem.
</li>
      <li>contact the school’s board of governors or contact the council if you’re not happy with the response.</li>
    </ol>

    <p>You’ll need to provide proof to support your complaint.</p>
  </div>
</div>
{% endblock %}
