{% extends "layouts/main.html" %}
{% set title = "You can refer someone who does unsupervised teaching work" %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "/eligibility/jurisdiction"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <form method="post">
  <h1 class="govuk-heading-l">{{ title }}</h1>

  <p>Unsupervised teaching work is:</p>

  <ul class="govuk-list govuk-list--bullet">
    <li>planning and preparing lessons and courses for pupils</li>
    <li>delivering lessons to pupils</li>
    <li>assessing the development, progress and attainment of pupils</li>
    <li>reporting on the development, progress and attainment of pupils</li>
  </ul>

  {{ govukRadios({
    idPrefix: "[report][eligibility][teacher-unsupervised]",
    name: "[report][eligibility][teacher-unsupervised]",
    fieldset: {
      legend: {
        classes: "govuk-fieldset__legend--m",
        text: "Do they carry out unsupervised teaching work?"
      }
    },
    items: [
      {
        text: "Yes, they do unsupervised teaching work",
        value: "Yes, they do unsupervised teaching work"
      },
      {
        text: "No",
        value: "No"
      },
      {
        text: "I’m not sure",
        value: "I’m not sure"
      }
    ]
  }) }}
        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}
