{% extends "layouts/main.html" %}
{% set title = "Your progress is saved as you go" %}

{% block content %}
  <h1 class="govuk-heading-xl">{{ title | noOrphans | safe }}</h1>

  <p>You don’t have to complete your referral in a single session. Your answers will automatically be saved and you can return at any time by logging back in.</p>
  <p class="govuk-!-margin-bottom-6">We’ll send you an email with a link to access your referral.</p>
{% endblock %}


You don’t have to complete your referral in a single session. Your answers will automatically be saved and you can return at any time by logging back in.
We’ll send you an email with a link to access your referral.