{% extends "layouts/main.html" %}
{% set title = "Enter your email address to save your progress" %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "/eligibility/you-should-know"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <form method="post">
        {# <h1 class="govuk-heading-l">{{ title | noOrphans | safe }}</h1> #}

        {# <p>You’ll be sent an email with a link to continue making your referral. You’ll also be contacted about your referral using this email address.</p> #}

        {{ govukInput({
          id: "[report][email]",
          name: "[report][email]",
          label: {
            text: 'Your email address',
            classes: "govuk-label--l",
            isPageHeading: true
          },
          hint: {
            text: 'The TRA may use this email address to contact you'
          }
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}

