{% extends "layouts/main.html" %}
{% set title = "Check that your allegation involves serious misconduct" %}
{% set title = "Check if you should make a complaint or refer the teacher for serious misconduct" %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "/eligibility/england"
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <form method="post">
        <h1 class="govuk-heading-l">{{title}}</h1>

        <p>The teacher could be stopped from teaching for life if they're found guilty of serious misconduct. Examples of serious misconduct are:</p>

        <ul class="govuk-list govuk-list--bullet">
            <li>violent behaviour</li>
            <li>a serious criminal offence</li>
            <li>an abuse of position or trust</li>
            <li>inappropriate sexual activity</li>
            <li>a serious failure in safeguarding</li>
            <li>a sexual or romantic relationship with a current or former pupil</li>
          </ul>

        <p>If you refer the teacher for something which is not serious misconduct, it will not be investigated. You should make a complaint instead.</p>

        {{ govukRadios({
          idPrefix: "[report][eligibility][serious]",
          name: "[report][eligibility][serious]",
          fieldset: {
            legend: {
              classes: "govuk-fieldset__legend--m",
              text: 'Does your allegation involve serious misconduct?',
              text: 'How do you want to continue with your allegation?'
            }
          },
          items: [
            {
              text: "Make a complaint",
              value: "Make a complaint",
              hint: {
                text: 'You can complain to the school, board of governors, local council or Department for Education'
              }
            },
            {
              text: "Refer serious misconduct",
              value: "Refer serious misconduct",
              hint: {
                text: 'The teacher could be stopped from teaching for life'
              }
            }
          ]
        }) }}
        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>

{% endblock %}
