{% extends "layouts/main.html" %}
{% set title = "What will happen after you refer the teacher for serious misconduct" %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "/eligibility/serious"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <form method="post">
  <h1 class="govuk-heading-l">{{ title | noOrphans | safe }}</h1>

  {% if data.report.userType == 'employer' %}

    <p>Your name and allegation will be shared with the teacher. It will also be shared with their current employer if you no longer employ them.

    <p>Your contact details will not be shared.</p>

  {% else %}

    <p>Your name and allegation will be shared with the teacher and their employer. Your contact details will not be shared.</p>

  {% endif %}

  <p>You might need to give evidence at a hearing.</p>

  <p>Your referral will be kept on file for up to 50 years.</p>

  <p class="govuk-!-margin-bottom-6"></p>
        {{ govukButton({
          text: "I understand and want to continue"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}
