{% extends "layouts/main.html" %}
{# {% set title = "What completing this referral means for you" %} #}
{% set title = "Check that you understand what your allegation means for you" %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "/eligibility/serious"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <form method="post">
  <h1 class="govuk-heading-l">{{ title | noOrphans | safe }}</h1>

  {# <p>If your allegation is found to be serious it will result in the teacher being banned for life.</p> #}

  <p>You might need to attend a hearing, if the allegation reaches that stage.</p>

  <p>Your allegation will be shared with the teacher and any employer. Your contact details will not be shared.</p>

  <p>Your referral will be kept on file for up to 50 years.</p>

  <p class="govuk-!-margin-bottom-6"></p>
        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}

