{% extends "layouts/main.html" %}
{% set signedIn = false %}
{% set title = "Have you used this service before?" %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back();"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form method="post">
        {# {{ govukInput({
          id: "[report][email]",
          name: "[report][email]",
          label: {
            text: 'Your email address',
            classes: "govuk-label--m"
          }
        }) }} #}

        {{ govukRadios({
          idPrefix: "[report][hasAccount]",
          name: "[report][hasAccount]",
          fieldset: {
            legend: {
              html: title,
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
            {
              value: "Yes, sign in and continue making a referral",
              text: "Yes, sign in and continue making a referral"
            },
            {
              value: "No",
              text: "No"
            },
            {
              value: "I’m not sure",
              text: "I’m not sure"
            } if 1 == 2
          ],
          value: data.report.hasAccount
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}
