{% extends "layouts/main.html" %}
{% set signedIn = false %}
{% set serviceUrl = '/' %}
{% set serviceName = '' %}
{% set title = 'Report serious teacher misconduct in England - GOV.UK' %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Report serious teacher misconduct in England
      </h1>
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <p class="govuk-body-s">Contents</p>
      <p class="govuk-body-s">— Overview<br>
        — <a href="misconduct">What counts as serious misconduct</a><br>
        — <a href="teacher">Who you can report</a><br>
        — <a href="complain">Complain to the school, college or council</a><br>
        — <a href="report">Report serious teacher misconduct online</a><br>
        — <a href="other-ways">Other ways to report misconduct</a></p>
        <hr><br>

      <h2 class="govuk-heading-l">Overview</h2>

      <p>The <a href="https://www.gov.uk/government/organisations/teaching-regulation-agency">Teaching Regulation Agency (TRA)</a> is responsible for regulating the teaching profession in England.</p>
      
      <p>In cases of serious teacher misconduct where you have already been through the school's complaints procedure, you can report the teacher to the TRA.
            
      <p>The TRA will only consider cases if the misconduct is serious enough to potentially result in the teacher being prevented from teaching again.</p>

      <nav class="govuk-pagination govuk-pagination--block" role="navigation" aria-label="Pagination">
        <div class="govuk-pagination__next">
          <a class="govuk-link govuk-pagination__link" href="misconduct" rel="next"> <svg class="govuk-pagination__icon govuk-pagination__icon--next" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
              <path d="m8.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
            </svg> <span class="govuk-pagination__link-title">Next<span class="govuk-visually-hidden"> page</span></span><span class="govuk-visually-hidden">:</span>
            <span class="govuk-pagination__link-label">What counts as serious misconduct</span></a>
        </div>
      </nav>
    </div>

    

    <div class="govuk-grid-column-one-third">
      {{ appRelatedNavigation({
        sections: [{
          items: [
          {
            text: "Teacher misconduct: regulating the teaching profession",
            href: "https://www.gov.uk/guidance/teacher-misconduct-regulating-the-teaching-profession"
          }],
          subsections: [{
            title: "Collection",
            items: [{
              text: "Teacher misconduct",
              href: "https://www.gov.uk/government/collections/teacher-misconduct"
            }]
          }]
        }]
      }) }}
    </div>
  </div>
{% endblock %}
