{% extends "layouts/main.html" %}
{% set signedIn = false %}
{% set serviceUrl = '/' %}
{% set serviceName = '' %}
{% set title = 'Report serious teacher misconduct in England - GOV.UK' %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Report serious teacher misconduct in England
      </h1>
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <p class="govuk-body-s">Contents</p>
      <p class="govuk-body-s">— <a href="index">Overview</a><br>
        — <a href="misconduct">What counts as serious misconduct</a><br>
        — <a href="teacher">Who you can report</a><br>
        — <a href="complain">Complain to the school, college or council</a><br>
        — <a href="report">Report serious teacher misconduct online</a><br>
        — Other ways to report misconduct</p>
        <hr><br>

      <h2 class="govuk-heading-l">Other ways to report misconduct</h2>

      <h3 id="by-email" class="govuk-heading-s">By email</h3>
      <p>Fill in the <a href="https://www.gov.uk/government/publications/teacher-misconduct-referral-form">teacher misconduct referral form for employers</a> or the <a href="https://www.gov.uk/government/publications/teacher-misconduct-referral-form">teacher misconduct referral form for members of the public</a>.</p>
      <p>Email the form to TRA.</p>
      <div class="govuk-inset-text">
   
          <a href="mailto:misconduct.teacher@education.gov.uk">misconduct.teacher@education.gov.uk</a></p>
      </div>
      <h3 id="by-post" class="govuk-heading-s">By post</h3>
      <p>Send the form by registered post.</p>
      <div class="address govuk-inset-text"><div class="adr org fn"><p>

        Teaching Regulation Agency
        <br>Cheylesmore House
        <br>5 Quinton Road
        <br>Coventry
        <br>CV1 2WT
        <br>
      </p></div></div>
      <h2 id="report-teacher-misconduct-in-scotland-wales-and-northern-ireland" class="govuk-heading-m">Report teacher misconduct in Scotland, Wales and Northern Ireland</h2>
      <p>This service is for reporting teacher misconduct in England. There is a different way to:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li><a rel="external" href="https://www.gtcs.org.uk/fitness-to-teach/">report teacher misconduct in Scotland</a></li>
        <li><a rel="external" href="https://www.ewc.wales/">report teacher misconduct in Wales</a></li>
        <li><a rel="external" href="https://gtcni.org.uk/regulation/making-a-referral">report teacher misconduct in Northern Ireland</a></li>
      </ul>

      <nav class="govuk-pagination govuk-pagination--block" role="navigation" aria-label="Pagination">
        <div class="govuk-pagination__prev">
          <a class="govuk-link govuk-pagination__link" href="report" rel="prev">
            <svg class="govuk-pagination__icon govuk-pagination__icon--prev" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
              <path d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z"></path>
            </svg>
            <span class="govuk-pagination__link-title">Previous<span class="govuk-visually-hidden"> page</span></span><span class="govuk-visually-hidden">:</span>
            <span class="govuk-pagination__link-label">Report serious teacher misconduct online</span></a>
        </div>
      </nav>

    </div>
  </div>
{% endblock %}
