{% extends "layouts/main.html" %}
{% set title = "You cannot use this service to refer someone who is not a teacher" %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "possible-jurisdiction"
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <h1 class="govuk-heading-l">{{ title }}</h1>

    <p>View guidance about how to <a href="https://www.gov.uk/complain-about-school/state-schools#complain-to-the-school">complain to the school</a>.</p>
  </div>
</div>
{% endblock %}
