{% extends "layouts/main.html" %}
{% set title = "You should make a complaint first" %}
{# {% set title = "Complain to the school or the Department for Education" %} #}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back();"
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <h1 class="govuk-heading-l">{{title}}</h1>

     <!-- <p>Every school in England must have a complaints policy. It’s usually available on the school’s website or from the school office.</p>

      <p>You may also be able to complain to your local council or organisations such as the school inspectors Ofsted. This depends on the type of school and what you’re complaining about.</p> -->

     <p>Find out <a href="https://www.gov.uk/complain-about-school">how to complain to the school or another organisation</a>.</p>

     <h2 class="govuk-heading-m">Refer a teacher without complaining to the school</h2>
    
      <p>You should usually have completed the school's complaints procedure before a referral is made.</p>
      <p>You can still report serious misconduct without complaining to the school first.</p>

      <p><a href="allegation">Continue making a referral</a></p>

    </div>
  </div>

{% endblock %}
