{% extends "layouts/main.html" %}
{% set signedIn = false %}
{% set title = 'Confirm your email address' %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "/email"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form method="post">
        <h1 class="govuk-heading-xl">{{ title }}</h1>

        <p>We’ve emailed a confirmation code to {{ data.report.email or 'emaiL@example.com' }}</p>

        {{ govukInput({
          label: {
            text: "Confirmation code",
            classes: "govuk-label--s"
          },
          classes: 'govuk-!-width-one-quarter',
          decorate: 'email-code'
        }) }}

        <p>
          <a href="#">I have not received an email</a>
        </p>

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}
