{% extends "layouts/main.html" %}

{% block pageTitle %}
Home – {{serviceName}} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      Refer serious misconduct prototype
    </h1>

    <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--l">

    <h2 class="govuk-heading-m">March 2024</h2>
    <p class="govuk-body-m">Content has been reverted to a previous version, with some slight tweaks to CTAs.</p>

    {{ govukButton({
    text: "Start prototype journey",
    href: "v4/index",
    isStartButton: true
    }) }}

    <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--m">

    <h2 class="govuk-heading-m">February 2024</h2>
    <p class="govuk-body-m">We've made content updates based on further feedback and findings from research.</p>

    {{ govukButton({
    text: "Start prototype journey",
    href: "v3/index",
    isStartButton: true
    }) }}

    <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
      <div class="govuk-accordion__section">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
          January 2024
        </span>
          </h2>
        </div>
        <div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">
          <p class="govuk-body-m">We've updated some of the content based on feedback received from business stakeholders. No additional pages or changes to the flow of the journey. Ready to move to research.</p>

          {{ govukButton({
          text: "Start prototype journey",
          href: "v2/index",
          isStartButton: true
          }) }}
        </div>
      </div>
      <div class="govuk-accordion__section">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
          December 2023
        </span>
          </h2>
        </div>
        <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
          <p class="govuk-body-m">We've updated the start page to prioritise guidance about when to make a referral and when to make a complaint. We've also included some examples of serious misconduct. In the eligibility questions, we've added questions which guide users to the path we think is most appropriate for them.</p>

          {{ govukButton({
          text: "Start prototype journey",
          href: "v1/index",
          isStartButton: true
          }) }}
        </div>
      </div>
    </div>


    <h2 class="govuk-heading-m">Live service user journey as of November 2023</h2>
    <p>This version contains the live service refer user journey as of November 2023.</p>
    {{ govukButton({
    text: "Start prototype journey",
    href: "nov-23-live/index",
    isStartButton: true
    }) }}

    <h2 class="govuk-heading-m">Prototype as of November 2023</h2>
    <p>This version contains the work done in this prototype prior to the new team forming in November 2023.</p>
    {{ govukButton({
    text: "Start prototype journey",
    href: "nov-23/index",
    isStartButton: true
    }) }}
  </div>

  <div class="govuk-grid-column-one-third">
    <div class="x-govuk-related-navigation">
      <nav class="x-govuk-related-navigation__nav-section" role="navigation" aria-labelledby="related-navigation-related-content">
        <h2 class="x-govuk-related-navigation__main-heading" id="related-navigation-related-content">
          Other prototypes
        </h2>
        <ul class="x-govuk-related-navigation__link-list">
          <li class="x-govuk-related-navigation__link">
            <a class="govuk-link x-govuk-related-navigation__section-link x-govuk-related-navigation__section-link--other" href="panellist/index">Panellist prototypes</a>
          </li>
          <li class="x-govuk-related-navigation__link">
            <a class="govuk-link x-govuk-related-navigation__section-link x-govuk-related-navigation__section-link--other" href="mainstream/index">Mainstream content</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>

{% endblock %}