{% extends "layouts/main.html" %}

{% block pageTitle %}
Home – {{serviceName}} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      Refer serious misconduct prototype
    </h1>

    <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--l">

    <h2 class="govuk-heading-m">Sprint 1</h2>
    <p class="govuk-body-l">Work in progress.</p>
    <p>Sprint goals:</p>
    {{ govukButton({
    text: "Start prototype journey",
    href: "v1/index",
    isStartButton: true
    }) }}

    <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--m">

    <h2 class="govuk-heading-m">Prior to November 2023</h2>
    <p>This version contains the work done in this prototype prior to the new team forming in November 2023.</p>
    {{ govukButton({
    text: "Start prototype journey",
    href: "nov-23/index",
    isStartButton: true
    }) }}
  </div>

  <div class="govuk-grid-column-one-third">
  </div>
</div>

{% endblock %}