{% extends "layouts/default.html" %}
{% set signedIn = false %}
{% set serviceUrl = '/report/start' %}
{% set serviceName = 'Refer serious misconduct by a teacher' %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <h1 class="govuk-heading-l">{{ serviceName }} in England</h1>
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      {{ govukWarningText({
        html: '<a href="https://www.gov.uk/contact-police">Contact the police</a> if you think a child is in immediate danger.'
      }) }}

      <p>The Teaching Regulation Agency (TRA) will only investigate cases where the misconduct is serious enough to potentially result in a teacher being stopped from teaching (known as a ‘prohibition order’).</p>

      <p>You should provide any evidence to support your allegation, for example signed witness statements or previous complaints against the teacher.</p>

      <p>All cases of incompetence and less serious misconduct should be dealt with by employers.</p>

      <!---
      <h2 class="govuk-heading-m">What happens when you make a referral</h2>

      <p>
        See the <a href="/report/step-by-step">step-by-step guide</a> to find out what happens once you make a referral.
      </p>
      -->
      <h2 class="govuk-heading-m">How long it will take to complete your referral</h2>

      <p>You should allow an hour or more to complete your referral. The time it will take depends on the case. It will be faster if you’ve prepared the evidence.</p>

      {{ govukButton({
        classes: "govuk-!-margin-top-4 govuk-!-margin-bottom-4",
        text: "Start now",
        href: paths.next,
        isStartButton: true
      }) }}

      <!--
      <p class="govuk-!-margin-bottom-6">Or <a href="{{ paths.next }}">return to a referral you’ve already started</a></p>

      <h2 class="govuk-heading-m">When to use a different form</h2>

      <p>If you want to refer multiple teachers at once, you need to <a href="#">complete a different form</a>.</p>
      -->
    </div>

    <div class="govuk-grid-column-one-third">
      {{ xGovukRelatedNavigation({
        sections: [{
          items: [{
            text: "Teacher misconduct: information for teachers",
            href: "https://www.gov.uk/government/publications/teacher-misconduct-information-for-teachers"
          }, {
            text: "Teacher misconduct: referring a case",
            href: "https://www.gov.uk/guidance/teacher-misconduct-referring-a-case"
          },
          {
            text: "Teacher misconduct: disciplinary procedures",
            href: "https://www.gov.uk/government/publications/teacher-misconduct-disciplinary-procedures"
          },
          {
            text: "Teacher misconduct: regulating the teaching profession",
            href: "https://www.gov.uk/guidance/teacher-misconduct-regulating-the-teaching-profession"
          },
          {
            text: "Teacher misconduct hearings: information for observers",
            href: "https://www.gov.uk/government/publications/teacher-misconduct-information-for-observers"
          }],
          subsections: [{
            title: "Collection",
            items: [{
              text: "Teacher misconduct",
              href: "https://www.gov.uk/government/collections/teacher-misconduct"
            }]
          }]
        }]
      }) }}
    </div>
  </div>
{% endblock %}
