{% extends "layouts/main.html" %}
{% set title = "Tell us about their role" %}

{% block content %}
  <h1 class="govuk-heading-xl">{{ title | noOrphans | safe }}</h1>
  {{ govukInput({
    label: {
      text: 'Teacher’s role',
      classes: "govuk-label--m"
    },
    hint: {
      text: 'For example, ‘Head of year’'
    },
    decorate: 'report.teacher-role'
  }) }}

  {{ govukTextarea({
    label: {
      text: 'Describe the main duties of their role (as far as known)',
      classes: "govuk-label--m"
    },
    decorate: 'report.teacher-role-duties'
  }) }}
{% endblock %}
