{#
For guidance on how to use layouts see:
https://prototype-kit.service.gov.uk/docs/layouts
#}

{% extends "govuk-prototype-kit/layouts/govuk-branded.html" %}

{% from "_components/related-navigation/macro.njk" import appRelatedNavigation %}
{% from "_components/summary-card/macro.njk" import appSummaryCard %}
{% from "_components/task-list/macro.njk" import appTaskList %}

{% block pageTitle %}
  {{title}} – {{serviceName}} – GOV.UK
{% endblock %}

{% block header %}
  {{super()}}
  {{ govukPhaseBanner({
    tag: {
      text: "Beta"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.',
    classes: 'govuk-width-container'
  }) }}
{% endblock %}