{#
For guidance on how to use layouts see:
https://prototype-kit.service.gov.uk/docs/layouts
#}

{% extends "govuk-prototype-kit/layouts/govuk-branded.html" %}

{% from "_components/formatted-address/macro.njk" import appFormattedAddress %}
{% from "_components/related-navigation/macro.njk" import appRelatedNavigation %}
{% from "_components/summary-card/macro.njk" import appSummaryCard %}
{% from "_components/task-list/macro.njk" import appTaskList %}

{% block pageTitle %}
  {{title}} – {{serviceName}} – GOV.UK
{% endblock %}

{% block header %}
  {{ govukHeader({
    homepageUrl: "#",
    serviceName: serviceName,
    serviceUrl: '/',
    navigation: [
      {
        href: "/account/sign-out",
        text: "Sign out"
      }
    ] if data.report.email
  }) }}
  {{ govukPhaseBanner({
    tag: {
      text: "Beta"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.',
    classes: 'govuk-width-container'
  }) }}
{% endblock %}

{% block footer %}
  {% set footerHtml %}
    <h2 class="govuk-heading-m">Get help</h2>

    <p class="govuk-!-font-size-16">Email: misconduct.teacher@education.gov.uk</br>
    We aim to respond within 3 working days.</p>

    <p class="govuk-!-font-size-16">Phone: 020 7593 5393</br>
    Monday to Friday, 9am to 5pm (except public holidays)</p>
    <hr class="govuk-section-break govuk-section-break--l">
    <ul class="govuk-footer__inline-list">
      <li class="govuk-footer__inline-list-item">
        <a class="govuk-footer__link" href="/manage-prototype">
          Manage your prototype
        </a>
      </li>
      <li class="govuk-footer__inline-list-item">
        <a class="govuk-footer__link" href="/manage-prototype/clear-data">
          Clear data
        </a>
      </li>
      <li class="govuk-footer__inline-list-item">
        <a class="govuk-footer__link" href="/set-user-type?type=public">
          Public
        </a>
      </li>
      <li class="govuk-footer__inline-list-item">
        <a class="govuk-footer__link" href="/set-user-type?type=employer">
          Employer
        </a>
      </li>
    </ul>
  {% endset %}

  {{ govukFooter({
    meta: {
      html: footerHtml
    }
  }) }}
{% endblock %}