{% extends "layouts/main.html" %}
{% set title = "Does your allegation involve any of the following?" %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: ""
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <form method="post">

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="allegation-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">
                {{title}}
              </h1>
            </legend>
            <div id="allegation-hint" class="govuk-hint">
              Select all that apply.
            </div>
            <div class="govuk-checkboxes" data-module="govuk-checkboxes">
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="allegation-1" name="allegation" type="checkbox" value="sexual-misconduct">
                <label class="govuk-label govuk-checkboxes__label" for="allegation-1">
                  Sexual misconduct
                </label>
                <div id="sexual-misconduct-hint" class="govuk-hint govuk-checkboxes__hint">
                  For example, a sexual relationship with a current or former pupil.
                </div>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="allegation-2" name="allegation" type="checkbox" value="violent">
                <label class="govuk-label govuk-checkboxes__label" for="allegation-2">
                  Violent behaviour
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="allegation-3" name="allegation" type="checkbox" value="safeguarding">
                <label class="govuk-label govuk-checkboxes__label" for="allegation-3">
                  Serious failure to protect the safety and wellbeing of pupils
                </label>
                <div id="safeguarding-hint" class="govuk-hint govuk-checkboxes__hint">
                  For example, not reporting evidence of neglect or abuse.
                </div>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="allegation-4" name="allegation" type="checkbox" value="alcohol">
                <label class="govuk-label govuk-checkboxes__label" for="allegation-4">
                  Alcohol or drug misuse
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="allegation-5" name="allegation" type="checkbox" value="fraud">
                <label class="govuk-label govuk-checkboxes__label" for="allegation-5">
                  Fraud or serious dishonesty
                </label>
                <div id="fraud-hint" class="govuk-hint govuk-checkboxes__hint">
                  For example, misuse of school funds.
                </div>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="allegation-6" name="allegation" type="checkbox" value="harassment">
                <label class="govuk-label govuk-checkboxes__label" for="allegation-6">
                  Discrimination or harassment
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="allegation-7" name="allegation" type="checkbox" value="extreme">
                <label class="govuk-label govuk-checkboxes__label" for="allegation-7">
                  Promoting extreme political or religious views
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="allegation-8" name="allegation" type="checkbox" value="criminal">
                <label class="govuk-label govuk-checkboxes__label" for="allegation-8">
                  A serious criminal offence
                </label>
              </div>

              <div class="govuk-checkboxes__divider">or</div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="allegation-none" name="allegation" type="checkbox" value="none" data-behaviour="exclusive">
                <label class="govuk-label govuk-checkboxes__label" for="allegation-none">
                  None of these
                </label>
              </div>

            </div>
          </fieldset>
        </div>
    
        {{ govukButton({
          text: "Continue"
        }) }}

      </form>
    </div>
  </div>

{% endblock %}

{% block pageScripts %}
<!--<script>-->
<!--  // Function to handle checkbox changes-->
<!--  function handleCheckboxChange() {-->
<!--    var allegationNoneCheckbox = document.getElementById("allegation-none");-->
<!--    var otherCheckboxes = document.querySelectorAll("input[type='checkbox']:not(#allegation-none)");-->
<!--    var targetDiv = document.getElementById("conditional-allegation");-->

<!--    if (this === allegationNoneCheckbox && allegationNoneCheckbox.checked) {-->
<!--      // If 'allegation-none' is checked, uncheck all other checkboxes-->
<!--      otherCheckboxes.forEach(function (checkbox) {-->
<!--        checkbox.checked = false;-->
<!--      });-->
<!--      targetDiv.style.display = "block"; // Show the target div-->
<!--    } else if (this !== allegationNoneCheckbox && this.checked) {-->
<!--      // If any other checkbox is checked, uncheck 'allegation-none'-->
<!--      allegationNoneCheckbox.checked = false;-->
<!--      targetDiv.style.display = "none"; // Hide the target div-->
<!--    } else if (this !== allegationNoneCheckbox && !this.checked && !otherCheckboxes.some(checkbox => checkbox.checked)) {-->
<!--      // If no other checkboxes are checked, hide the target div-->
<!--      targetDiv.style.display = "none";-->
<!--    }-->
<!--  }-->

<!--  // Add event listeners when the document is loaded-->
<!--  document.addEventListener("DOMContentLoaded", function () {-->
<!--    var checkboxes = document.querySelectorAll("input[type='checkbox']");-->
<!--    checkboxes.forEach(function (checkbox) {-->
<!--      checkbox.addEventListener("change", handleCheckboxChange);-->
<!--    });-->
<!--  });-->
<!--</script>-->
{% endblock %}
